# Copyright 2025 The go-yaml Project Contributors
# SPDX-License-Identifier: Apache-2.0

/.cache/
/.claude/
/note/
/worktree/
/yts/testdata/
/go-yaml
/*.md
/*.yaml

# exclusions for go vendoring
# see https://github.com/yaml/go-yaml/issues/339
!/.golangci.yaml
!/.ls-lint.yaml
!/.yamllint.yaml