# Copyright 2025 The go-yaml Project Contributors
# SPDX-License-Identifier: Apache-2.0

name: Files Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions: read-all

jobs:
  action-lint:
    runs-on: ubuntu-latest
    steps:
    - name: checkout-action
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      with:
        persist-credentials: false

    - name: actionlint
      # yamllint disable-line rule:line-length
      uses: raven-actions/actionlint@963d4779ef039e217e5d0e6fd73ce9ab7764e493  # v2.1.0

  yamllint:
    runs-on: ubuntu-latest
    steps:
    - name: checkout-action
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      with:
        persist-credentials: false

    - name: yamllint
      # yamllint disable-line rule:line-length
      uses: ibiqlik/action-yamllint@2576378a8e339169678f9939646ee3ee325e845c  # v3.1.1

  ls-lint:
    runs-on: ubuntu-latest
    steps:
    - name: checkout-action
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      with:
        persist-credentials: false

    - name: ls-lint
      uses: ls-lint/action@02e380fe8733d499cbfc9e22276de5085508a5bd  # v2.3.1
      with:
        config: .ls-lint.yaml

  typos:
    runs-on: ubuntu-latest
    steps:
    - name: checkout-action
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      with:
        persist-credentials: false

    - name: typos-action
      uses: crate-ci/typos@65120634e79d8374d1aa2f27e54baa0c364fff5a  # v1.42.1
