name: Go

on:
  push:
    branches: [ main, v3, v2, v1 ]
  pull_request:
    branches: [ main, v3, v2, v1 ]

permissions: read-all

jobs:
  test:
    runs-on: ubuntu-latest
    needs: go-versions
    continue-on-error: true  # make sure to run all versions, even if one fails

    strategy:
      matrix:
        go-version: ${{ fromJSON(needs.go-versions.outputs.versions) }}

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      with:
        persist-credentials: false

    - name: Run all unit tests w/ -cover, all YTS tests and go lint
      run: make test lint v=1 GO-VERSION=${{ matrix.go-version }}

  go-versions:
    name: Lookup Go versions
    runs-on: ubuntu-latest
    outputs:
      versions: ${{ steps.latest-patch-versions.outputs.matrix }}

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
    - name: Get latest patch for each minor version
      # yamllint disable-line rule:line-length
      uses: arnested/go-version-action@90b2bf6e8cbbba34a5e514cfe9d3f7541d91ffa7  # v1.2.0
      id: latest-patch-versions
      with:
        latest-patches-only: true
        patch-level: true
