name: Go

on:
  push:
    branches: [ main, v3, v2, v1 ]
  pull_request:
    branches: [ main, v3, v2, v1 ]

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: stable
    - name: Run go fmt
      run: go fmt ./...
    - name: Check if working tree is dirty
      run: |
        if [[ $(git diff --stat) ]]; then
          git --no-pager diff
          echo 'Run go fmt ./... and commit changes.'
          exit 1
        fi
  build:
    strategy:
      matrix:
        go-versions:
          [ '1.18', '1.19', '1.20', '1.21', '1.22', '1.23', '1.24', '1.25' ]
    runs-on: ubuntu-latest
    continue-on-error: true  # make sure to run all versions, even if one fails
    steps:
    - uses: actions/checkout@v5
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-versions }}
    - name: Run go vet
      run: go vet ./...
    - name: Run yaml-test-suit tests
      run: make test-yts
    - name: Run go test
      run: GO111MODULE=on go test -v -race .
