name: Go

on:
  push:
    branches: [ main, v3, v2, v1 ]
  pull_request:
    branches: [ main, v3, v2, v1 ]

permissions: read-all

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
      with:
        persist-credentials: false
    - name: Set up Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00  # v6.0.0
      with:
        go-version: stable
    - name: Install golangci-lint
      run: |
        make golangci-lint-install
        echo "${{ github.workspace }}/.cache/local/bin" >> "$GITHUB_PATH"
    # yamllint disable-line rule:line-length
    - uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9  # v8.0.0
      with:
        install-mode: none
  go-versions:
    name: Lookup Go versions
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.versions.outputs.matrix }}
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
    # yamllint disable-line rule:line-length
    - uses: arnested/go-version-action@1f4135a30a2498f919e428c81c342f9334b3a93d  # v1.1.22
      id: versions
  build:
    runs-on: ubuntu-latest
    needs: go-versions
    continue-on-error: true  # make sure to run all versions, even if one fails
    strategy:
      matrix:
        go-versions: ${{ fromJSON(needs.go-versions.outputs.matrix) }}
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
      with:
        persist-credentials: false
    - name: Set up Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00  # v6.0.0
      with:
        go-version: ${{ matrix.go-versions }}
    - name: Run yaml-test-suit tests
      run: make test-yts
    - name: Run go test
      run: go test -vet=off -v -race ./...
